/* Variables */
$font-navigation: 'Dancing Script', cursive;
$font-text: 'Roboto', sans-serif;
$background-main: #ffffff;
$background-main-2: #f5f6fa;
$text-color-1: #2d3436;
$text-color-2: #95afc0;

/* Global */
.top {
    background-image: url('https://images.pexels.com/photos/3785931/pexels-photo-3785931.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-3785931.jpg&fm=jpg'); 
}
.title {
    font-family: $font-text;
    margin: auto;
    padding: 0 0 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.subtitle {
    font-family: $font-text;
    font-style: italic;
    color: $text-color-2;
    margin: auto;
    padding: 0 0 100px 0;
    text-align: center;
    font-size: 19px;
}
.title-2 {
    font-size: 24px;
}
body {
    margin: 0 auto;
}

/* Navigation */
.container {
    display: flex;
    h4 {
        font-family: $font-navigation;
        color: #f1c40f;
        font-size: 30px;
        width: 1140px;
    }
    ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        li {
            margin: 0 15px 0 0;
            color: #ffffff;
        }
    }
}
li:hover {
    cursor: pointer;
}
/* Header */
.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    .splash-inner {
        display: flex;
        flex-direction: column;
        color:#ffffff;
        line-height: 2.5;
        h2{
            font-size: 40px;
            font-style: italic;
            margin: auto;
        }
        h1 {
            font-size: 60px;
            font-weight: bold;
            margin: auto;
        }
        a {
            background:#f1c40f;
            margin: auto;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            color: #ffffff;
            padding: 20px 60px;
        }
    }
}
/* Services */
.container-parent {
    display: flex;
    padding: 100px 0 0 0;
    .container {
        flex-direction: column;
        .text-parent {
            justify-content: space-between;
            display: flex;
            .box {
                text-align: -webkit-center;
            }
                .icon {
                    padding: 0 0 25px 0;
                    border: 5px solid  #f1c40f;
                    height: 70px;
                    -webkit-border-radius: 50%;
                    font-size: 40px;
                    color: #f1c40f;
                    text-align: center;
                    width: 70px;
                    margin: 0 0 25px 0;
            }
        }
    }
}

/* Our Portfolio */
.Portfolio {
    background: $background-main-2;
    .container-parent {
        flex-direction: column;
        .box-image {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1140px;
            margin: auto;
            align-items: center;
            padding: 0 0 100px 0;
            .box-description {
                background: #ffffff;
            }
            .image {
                width: 33.3333%;
                padding: 0 30px 0 0;
                .title-2 {
                    text-align: center;
                    background-color: #ffffff;
                    margin: auto;
                }
                .subtitle {
                    background-color: #ffffff;
                    padding: 0;
                } 
                img {
                    width: 100%;
                    padding: 40px 0 0 0;
                }    
            }
        }
    }
}

/* Footer */
footer {
    padding: 40px 0;
    .container {
        justify-content: space-between;
        align-items: center;
    }
    .text-footer {
        font-size: 20px;
    }
    .footer-list {
        font-size: 40px;
        a {
            border: solid;
            background-color: #2d3436;
            color: #ffffff;
            border-radius: 50%;
            padding: 10px;
            i {
                width: 50px;
                text-align: center;
            }
        }
    }
}

@media (min-width: 200px) and (max-width: 720px) {
    .splash-inner {
        text-align: center;
    }
    .container-parent {
        display: block;
        .container {
            display: block;
            .text-parent {
                display: block;
            }
        }
    }
    .Portfolio {
        display: block;
        .container-parent {
            display: block;
            .box-image {
                display: block;
                .image {
                    width: 100%;
                }
            }
        }
    }
}